@charset "UTF-8";

@media screen and (min-width: 1000px) {

    body {
        width: 60vw;
        margin: auto;
    }
    header h1 {
        
        font-variant: small-caps;
        font-size: 8vw;
    }
    section > p {
        font-family: 'Sriracha', cursive;
        font-size: 2vw;
        line-height: 2em;
    }
    footer {
        font-size: 1.3vw;
    }
    
}