@charset "UTF-8";

* {
    margin: 0%;
    padding: 0%;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    
    background-color: black;
    color: white;
    text-align: center;
    
    
}

header h1 {
    padding-top: 50px;
    font-family: 'Passion One', sans-serif;
    
    font-variant: small-caps;
    font-size: 10vw;    
}

header > p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}

header > p > a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

section > p {
    font-family: 'Sriracha', cursive;
    font-size: 3.5vw;
    line-height: 2em;
}

section.imagem {
    box-shadow: inset 6px 10px 13px 0px rgba(0, 0, 0, 0.507);;
}

.imagem#flor {
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: right center ;
    background-repeat: no-repeat;
}

.imagem > p {
    background-color: rgba(0, 0, 0, 0.521);
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    margin-left: 30px;
    
}

.imagem#livro {
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center left;
    background-repeat: no-repeat;
}

.normal {
    background-color: white;
    color: black;
    padding-left: 30px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

footer > a {
    text-decoration: none;
    color: white;
}

footer > a:hover {
    text-decoration: underline;

}
